body{
  background-image: url("../../assets/fondo/invierno.jpg");
  height: 800px;
}


button{
  display: inline;
  margin-left: 100px;
  margin-top: 100px;
  text-align: center;
}

.parent-box{
  width:800px;
  height:800px;
  background-color: white;
  opacity: 0.4;
  backdrop-filter: blur(15px);
  text-align: center;
}

